@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    color: #cbd5e1;
  }
  h1, h2, h3, h4, h5, h6, .font-display {
    font-family: 'Syne', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
